@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #ffffff;
  color: #000000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  overflow-x: hidden;
}

@layer base {

  h1,
  h2,
  h3,
  h4 {
    @apply tracking-tighter text-apple-black font-black;
  }
}

.glass {
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.apple-shadow {
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.04);
}

/* Custom scrollbar for subtle Apple feel */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #d1d1d6;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a1a1a6;
}